---
layout: page
permalink: /posts/
title: Posts
---


<div id="archives">
{% for category in site.categories %}
  <div class="article-list">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <p></p>

    <h3><small>{{ category_name }}</small></h3>
    {% for post in site.categories[category_name] %}
      <small style="line-height: 1;">{{ post.date | date: "%Y-%m-%d"}}&nbsp;</small> <br> 
      <a style="line-height: 1;" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> <br><br>
    {% endfor %}
  </div>
{% endfor %}
</div>
