---
layout: page
permalink: /posts/
title: Posts
---


<div id="archives">
{% for category in site.categories %}
  <div class="article-list">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <p></p>

    <h3><small>{{ category_name }}</small></h3>
    <table>
      {% for post in site.categories[category_name] %}
        <tr><td style="font-family: monospace;">{{ post.date | date: "%Y-%m-%d"}}&nbsp;</td><td><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></td></tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}
</div>
